body {
    background-color: rgb(254, 254, 254);
  }
  
  h1 {
    color: rgb(209, 157, 14);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
  }
  #parrafo1{
    font-size: 10px;
    text-align: center;
  }
  #parrafo2{
    font-size: 11px;
    color: blue;
  }
  #parrafo3{
    background-color: black;
    font-size: 15px;
    color: white;
  }
  .parrafo4{
    font-style: italic;
  }
  h1{
    color: red;
    text-align: left;
  }
  #parrafo6{
    text-align: center;
  }
